.glitchContainer {
  mix-blend-mode: multiply;
}

.glitchLayer {
  opacity: 0;
  animation: glitch 4s linear infinite;
}

.redLayer {
  background-color: #ff0000;
  animation-delay: 0s;
}

.greenLayer {
  background-color: #00ff00;
  animation-delay: 1s;
}

.blueLayer {
  background-color: #0000ff;
  animation-delay: 2s;
}

.flashLayer {
  background-color: #af4949;
  background-blend-mode: overlay;
  animation: glitch-flash 4s linear infinite;
  animation-delay: 2s;
}

@keyframes glitch {
  0% {
    opacity: 0;
    transform: translate(0);
  }
  20% {
    opacity: 0.5;
    transform: translate(-5px, 5px);
  }
  40% {
    opacity: 0;
    transform: translate(5px, -5px);
  }
  60% {
    opacity: 0.5;
    transform: translate(-5px, -5px);
  }
  80% {
    opacity: 0;
    transform: translate(5px, 5px);
  }
  100% {
    opacity: 0;
    transform: translate(0);
  }
}

@keyframes glitch-flash {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
} 